:root {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: whitesmoke;
  background-color: rgb(90, 89, 89);

  font-synthesis: none;
}

body {
  margin-left: 10px;
  margin-top: 40px;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.2em;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(186, 182, 182);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

#errorMessage{
  color: #cc0000;
  font-size: 1.5em;
}

#message{
  color: greenyellow;
  font-size: 1.5em;
}

.checkboxContainer {
  display: flex;
  justify-content: left; 
  gap: 15px; 
}

.checkboxContainer div {
  display: flex;
  align-items: center; 
}

.buttonContainer{
  display: flex;
  justify-content: left;
  gap: 5px;
}

.password-table, .share-table, .shared-password-table {
  width: 100%;
  border-collapse: collapse;
}

.password-table th, .password-table td, 
.share-table th, .share-table td, 
.shared-password-table th, .shared-password-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.password-table th, .share-table th, .shared-password-table th {
  background-color: darkgray; 
}

.sharePassword {
  display: flex;
  justify-content: left;
  gap: 5px;
}